@font-face {
    font-family: Inter;
    src: url("../src/assets/fonts/Inter.ttf");
}

@font-face {
    font-family: Cormorant;
    src: url("../src/assets/fonts/CormorantGaramond.ttf");
}

@import "tailwindcss";

@theme {
    --font-inter: Inter, "sans-serif";
    --font-cormorant: Cormorant, "sans-serif";
}

html {
  scroll-behavior: smooth;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.embla__prev:disabled,
.embla__next:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}